
{% extends 'admin.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
  <div className="page-heading pb-2 mt-4 mb-2 ">
                    <h3>Manager</h3> <a href="{{path('student_create')}}"><button type="button" class="btn btn-outline-primary">Insert</button></a>
                </div>
                <div class="page-content">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
               
                </div>
                <div class="card">
                    <div class="container mb-3">
                        <div class="table-responsive text-nowrap">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Email</th>
                            <th>Image</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          {% for st in student %}
                              <tr>
                                  <td>{{ st.id}}</td>
                                  <td>{{ st.fullname}}</td>
                                  <td>{{ st.studentcode}}</td>
                                  <td>{{ st.email}}</td>
								  <td>{{ st.image}}</td>
                                  <td>
                                    <a href="{{path('student_edit',{'id':st.id})}}">Edit</a>
                                    <a href="{{path('student_delete',{'id':st.id})}}">Delete</a></td>
                              </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                </div>
                </div>
                </div>
{% endblock %}
